<header class="navbar">
  <div class="container">
    <h1 class="nav-brand">InstaConquer</h1>
    <nav>
      <ul class="nav-list">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="{% url 'profile_list' %}" class="nav-link">Perfiles</a></li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Registro</a></li>
        {% endif %}
        <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contacto</a></li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'post_create' %}" class="nav-link">Publicar</a></li>
        <li class="nav-item"><a href="{% url 'profile_detail' request.user.profile.pk %}" class="nav-link">Mi perfil</a>
        </li>
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Cerrar sesión</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>