{% extends "general/layout.html" %}

{% block head_title %}Bienvenido a instagrans2 {% endblock %}

{% block page_content %}
<div class="main-content">
  <div class="container">
    {% include '_includes/_messages.html' %}

    <h1 class="text-gradient">Homepage</h1>
    <p>¡Bienvenido a Instagrans2!</p>

    <section>
      <h2>Últimas publicaciones</h2>

      <div class="row">
        {% for post in last_posts %}
        <div class="fade-in">
          {% include '_includes/posts/_post.html' %}
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{% endblock %}